@page
@model IndexModel
@inject Microsoft.Extensions.Options.IOptions<FrontendConfiguration> Config
@{
    ViewData["Title"] = "Home page";

    ViewData["URL"] = Config.Value.BackendHost;

    var httpClient = new System.Net.Http.HttpClient();

    try
    {
        var response = await httpClient.GetAsync($"{Config.Value.BackendHost}weatherforecast");

        if (response.IsSuccessStatusCode)
        {
            ViewData["Status"] = "Successfully connected to backend";
            ViewData["Body"] = await response.Content.ReadAsStringAsync();
        }else
        {
            ViewData["Status"] = "Failed to connect to backend";
            ViewData["Body"] = $"Status code: {response.StatusCode} and Message: {await response.Content.ReadAsStringAsync()}";
        }
    }
    catch (Exception ex)
    {
        ViewData["Status"] = "Exception Occured";
        ViewData["Body"] = ex.Message;
    }
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Backend URL: @ViewData["URL"] </p>
        <h3>Request details</h3>
        <p>
            <h4>Status</h4>
            @ViewData["Status"]
        </p>
        <p>
            <h4>Body</h4>
            @ViewData["Body"]
        </p>
    </div>
