@page
@model IndexModel
@inject Microsoft.Extensions.Options.IOptions<FrontendConfiguration> Config
@inject Frontend.ApiAgent agent
@{
    ViewData["Title"] = "Home page";

    ViewData["URL"] = Config.Value.BackendHost;



    ViewData["Status"] = "------";
    ViewData["Body"] = await agent.GetResponseAsync();

}
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        
        <p>
            <h4>Body</h4>
            @ViewData["Body"]
        </p>
    </div>
